.loader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.failure-pic{
    height: 200px;
    width: 300px;
}
.orderBooks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: aquamarine;   
}
