.bookListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
   
}
.bookItemContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 50%;
    
 
    
   
}
.book-pic{
    height: 200px;
    width: 200px;
}
.book-head{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    color: black;
}
.book-subtitle{
    font-size: 15px;
    font-family: "Roboto";
    font-weight: normal;
    color: black;
}
.book-cost{
    font-size: 13px;
    font-family: "Roboto";
    font-weight: normal;
    color: black;
}
